<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="FinlayDaG33k's Tinfoil Hat bingo, for all thyn tinfoil hat shenenigans">
    <meta name="keywords" content="tinfoil,hats,bingo">
    <meta name="author" content="Aroop Roelofs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FinlayDaG33k's Tinfoil Hat Bingo!</title>

    <link rel="stylesheet" href="assets/css/bulma.min.css" />
    <link rel="stylesheet" href="assets/css/bulma-tooltip.min.css" />

    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/handlebars-v4.4.3.js"></script>
  </head>
  <body class="is-clipped">
    <main class="hero is-fullheight">
      <div class="container">
        <div class="columns is-multiline" id="chart">
          
        </div>
      </div>
    </main>
    <footer>
      
    </footer>
    <div class="modal" id="launch-modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Tinfoil Selection</strong> <small>Select the Topic the idiot is talking about</small>
                  <br>
                  <div class="select">
                    <select id="select-topic">
                    </select>
                  </div>                 
                </p>
                <p>
                  <button class="button is-primary" id="submit-topic">Start</button>
                </p>
              </div> 
            </div>
          </article>
        </div>
      </div>
    </div>

    <script id="entry-template" type="text/x-handlebars-template">
      <div class="column is-one-fifth">
        {{#if freebie}}
          <button class="button is-dark is-fullwidth is-large has-tooltip-bottom" style="white-space: normal; height: 150px;" data-tooltip="This is just a freebie :)">{{ text }}</button>
        {{else}}
          <button class="button is-danger is-fullwidth is-large has-tooltip-bottom" data-action="hit" style="white-space: normal; height: 150px;" data-tooltip="Submitted by {{ submitter }}">{{ text }}</button>
        {{/if}}
      </div>
    </script>
  </body>
</html>